[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2026.4.22"
charset-normalizer = "==3.4.7"
idna = "==3.15"
pi = "==0.1.2"
python-dotenv = "==1.2.2"
requests = "==2.34.2"
urllib3 = "==2.7.0"
django = "*"

[dev-packages]

[requires]
python_version = "3.13"
